body {
    margin: 0;
    color: #6a6f8c;
}

*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none;
}

input, button {
    outline: none;
    border: none;
}

.login-wrap {
    width: 100%;
    margin: auto;
    width: 525px;
    height: 700px;
    position: relative;
    /*	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);*/
}

.login-html {
    width: 500px;
    height: 500px;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background-color: aqua;
    border-radius: 10px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    /*-webkit-transform:rotateZ(180deg);*/
    transform: rotateX(-100deg);
    backface-visibility: hidden;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    position: relative;
}
.jq22-container{
    text-align: center;
}
#box{
    border-radius: 50%;
    margin:0 auto 20px;
}
#btn,#btn1{
    width: 200px;
    height: 50px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    margin: 10px 80px;
    background-color: red;
}
.login-form .group {
    margin-bottom: 15px;
}
.sign-up-htm p,.login-form p{
    line-height: 30px;
}
.sign-up-htm p input,.login-form p input{
    width: 200px;
    height: 25px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #1161ee;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;

    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    /* transform:scale(1) rotate(45deg);*/
}

.login-form .group .check:checked + label .icon:after {
    /*-webkit-transform:scale(1) rotate(-45deg);*/

}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

* {
    margin: 0;
    padding: 0;
}

.body {
    width: 95%;
    margin: 0 auto;
}

.warp {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    border: 5px solid blue;
}

form {
    margin-top: 30px;
}

form div {
    font-size: 14px;
    color: darkslategray;
    line-height: 50px;
}

form div span {
    color: darkred;
}

.xm {
    width: 220px;
    height: 30px;
    color: crimson;
    font-size: 16px;
    padding-left: 7px;
}

.nl {
    width: 220px;
    height: 30px;
    margin-bottom: 20px;
    color: blue;
    font-size: 16px;
    padding-left: 7px;
}

.dz {
    width: 220px;
    height: 30px;
    margin-bottom: 20px;
    color: crimson;
    font-size: 16px;
    padding-left: 7px;
}

.xb {
    width: 220px;
    height: 30px;
    margin-bottom: 20px;
    color: red;
    font-size: 14px;
}

.yb {
    width: 220px;
    height: 30px;
    margin-bottom: 20px;
    color: green;
    font-size: 16px;
    padding-left: 7px;
}

.dh {
    width: 220px;
    height: 30px;
    margin-bottom: 20px;
    color: coral;
    font-size: 16px;
    padding-left: 7px;
}

.E {
    width: 220px;
    height: 30px;
    margin-bottom: 20px;
    color: darkslateblue;
    font-size: 16px;
    padding-left: 7px;
}

.cz {
    width: 220px;
    height: 30px;
    margin-bottom: 20px;
    color: fuchsia;
    font-size: 16px;
    padding-left: 7px;
}

.dh p textarea {
    width: 400px;
    height: 150px;
    color: navy;
    font-size: 16px;
}

.tj {
    margin-left: 30px;
    font-size: 12px;
    margin-right: 130px;
    margin-top: 10px;
}

.xb input {
    margin-right: 5px;
}

::-webkit-input-placeholder {
    font-size: 10px;
    padding-left: 5px;
    color: #3388ff;
}

::-moz-placeholder {
    font-size: 10px;
    padding-left: 5px;
    color: #3388ff;
}

:-ms-input-placeholder {
    font-size: 10px;
    padding-left: 5px;
    color: #3388ff;
}

.d, .n, .p, .y, .g, .e, .c {
    color: red;
    margin-left: 10px;
    margin-right: 5px;
}
img{
 width: 150px;
 height: 150px;
}
